@font-face {
    font-family: 'main';
    src:url(fonts/Kinetic\ Regular.otf);
}

@font-face {
    font-family: 'mainlight';
    src:url(fonts/Kinetic-Light.otf);
}

@font-face {
    font-family: 'mainbold';
    src: url(fonts/Kinetic-Bold.otf);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'main';
}

body{
    background-color: #ffffff;
}

/* Nav bar */
nav{
    height:64px;
    background:#2d2d2d;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:64px 100px; 
}

.logo{
    cursor: pointer;
    padding: 0 40px;
}

.logo-img{
    max-width: 60%;
    max-height: 60%;

}

nav a{
    font-size: 28px;
    color:#efecff;
    text-decoration:none;
    padding: 0 1.5rem;
    transition: all 0.3 ease 0s;
}

.links{
    padding-right: 40px;
}

nav a:hover{
    color:#2b7cfc;
}

/* ME section */

.hero{
    background-color: #ffffff;;
    display: flex;
}

.hero-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:85vh;
    padding-right: 150px;
    padding-left: 150px;
}

.hero-container .left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 0px;
}

.hero-container .left-column h1{
    font-family: 'mainbold';
    color: #2b7cfc;
    margin-left: -8px;
    margin-bottom: -20px;
    font-size: 160px;
}

/* animated text for list of nicknames */
.hero-container .left-column h1:after{
    content: '';
    animation: nicknames 10s infinite linear;
}

@keyframes nicknames{
    0%{content:"Tres"}
    25%{content:"Norms"}
    50%{content:"Third"}
    75%{content:"Thad"}
    100%{content:"Norman"}
}
/* animated text for list of nicknames end */

.hero-container .left-column h2{
    font-family: 'mainbold';
    color:#2d2d2d;
    margin-left: -6px;
    margin-bottom: -50px;
    font-size: 100px;
}

.hero-container .left-column p{
    font-style: normal;
    color: #3b3f46;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 20px;
    padding-right: 200px;
}

.hero-container .right-column{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.me{
 max-width: 100%;

}





/* Section */
.notable{
    background-color: #222428;;
    display: flex;
    justify-content: center;
}

.notable-container{
    display:flex;
    align-items: center;
    height:30vh;
}

.notable-container h1{
    font-family: 'mainbold';
    color: #efecff;
    font-size: 160px;
}

/* typing game section */
.typing-game{
    background-color: #2d2d2d;;
    display: flex;
}

.typing-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:60vh;
}

.typing-container .right-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
}

.typing-container .right-column h1{
    font-family: 'mainbold';
    color: #efecff;
    font-size: 75px;
}

.typing-container .right-column h2{
    font-style: italic;
    font-family: 'mainbold';
    color:#444b56;
    font-size: 30px;
}

.typing-container .right-column p{
    font-style: normal;
    color: #efecff;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 20px;
    padding-right: 200px;
}



@media screen and (max-width: 768px) {
    .hero-container{
        grid-template-columns: 1fr;
    }
}