@font-face {
    font-family: 'main';
    src:url(fonts/Kinetic\ Regular.otf);
}

@font-face {
    font-family: 'mainlight';
    src:url(fonts/Kinetic-Light.otf);
}

@font-face {
    font-family: 'mainbold';
    src: url(fonts/Kinetic-Bold.otf);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'main';
}

body{
    background-color: #ffffff;
}

/* Nav bar */
nav{
    position: sticky;
    top: 0;
    height:64px;
    background:#2d2d2d;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:64px 100px; 
}

.logo{
    cursor: pointer;
    padding: 0 40px;
}

.logo-img{
    max-width: 60%;
    max-height: 60%;

}

nav a{
    font-size: 28px;
    color:#efecff;
    text-decoration:none;
    padding: 0 1.5rem;
    transition: all 0.3 ease 0s;
}

.links{
    padding-right: 40px;
}

nav a:hover{
    color:#2b7cfc;
}

/* ME section */

.hero{
    background-color: #ffffff;;
    display: flex;
}

.hero-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:85vh;
    padding-right: 150px;
    padding-left: 150px;
}

.hero-container .left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 0px;
}

.hero-container .left-column h1{
    font-family: 'mainbold';
    color: #2b7cfc;
    margin-left: -8px;
    margin-bottom: -20px;
    font-size: 160px;
}

/* animated text for list of nicknames */
.hero-container .left-column h1:after{
    content: '';
    animation: nicknames 12s infinite linear;
}

@keyframes nicknames{
    0%{content:"Norman"}
    25%{content:"Tres"}
    50%{content:"Third"}
    75%{content:"Norms"}
    100%{content:"Thad"}
}
/* animated text for list of nicknames end */

.hero-container .left-column h2{
    font-family: 'mainbold';
    color:#2d2d2d;
    margin-left: -6px;
    margin-bottom: -50px;
    font-size: 100px;
}

.hero-container .left-column p{
    font-family: 'main';
    font-style: oblique;
    color: #3b3f46;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 20px;
    padding-right: 210px;
}

.hero-container .right-column{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.me{
 max-width: 100%;

}



/* Section */
.notable{
    background-color: #222428;;
    display: flex;
    justify-content: center;
}

.notable-container{
    display:flex;
    align-items: center;
    height:30vh;
}

.notable-container h1{
    font-family: 'mainbold';
    color: #efecff;
    font-size: 160px;
}

/* typing game section */
.typing-game{
    background-color: #2d2d2d;;
    display: flex;
}

.typing-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:60vh;
}

.typing-container .right-column{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;

}

.typing-container .right-column h1{
    font-family: 'mainbold';
    color: #efecff;
    font-size: 75px;
    margin-bottom: 30px;
}

.typing-container .right-column h2{
    font-style: italic;
    font-family: 'main';
    color:#444b56;
    font-size: 20px;
    margin-bottom: -30px;
    margin-left: 220px
}

.typing-container .right-column p{
    font-style: oblique;
    font-family: 'main';
    color: #efecff;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 20px;
    padding-right: 280px;
}


.typing-container .left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
}


.typing{
    max-width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

/* Passenger Rush Section */
.rush-game{
    background-color: #2b7cfc;
    display: flex;
}

.rush-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:60vh;
}

.rush-container .left-column{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 100px;

}

.rush-container .left-column h1{
    font-family: 'mainbold';
    color: #efecff;
    font-size: 75px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.rush-container .left-column h2{
    font-style: italic;
    font-family: 'main';
    color:#7795c4;
    font-size: 20px;
    margin-bottom: -30px;
    margin-right: 100px
}

.rush-container .left-column p{
    font-style: oblique;
    font-family: 'main';
    color: #efecff;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 20px;
    padding-left: 300px;
}


.rush-container .right-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
}


.rushing{
    max-width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

/* Skills Section */
.skills{
    background-color: #efecff;
    display: flex;
    justify-content: center;
   
}

.skills-container{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding-top: 80px;
    height:220vh;
}

.skills-container h1{
    width:100%;
    flex-direction: column;
    display:flex;
    align-items: center;
    font-family: 'mainbold';
    color: #2d2d2d;
    font-size: 160px;
}

.thinking-img{
    width:600px;
}

.thinking{
    margin-top: -50px;
    width:100%;
    flex-direction: column;
    display:flex;
    align-items: center;
}

.skill-img{
    
    width:90%;
}

.all-skills{
    margin-top: -550px;
    width:100%;
    flex-direction: column;
    display:flex;
    align-items: center;
    animation:appear linear;
}


.skills-container h2{
    padding-bottom: 10px;
    width:100%;
    flex-direction: column;
    display:flex;
    align-items: center;
    font-family: 'mainbold';
    color: #2d2d2d;
    font-size: 80px;
}

.intro-video{
    padding-top: 200px;
    width:100%;
    flex-direction: column;
    display:flex;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .hero-container{
        grid-template-columns: 1fr;
    }
}